<settings>
  <servers>
    <server>
      <id>tomcat-server</id>
      <configuration>
        <cargo.tomcat.manager.url>http://144.24.159.60:8080/manager/text</cargo.tomcat.manager.url>
        <cargo.remote.username>deployer</cargo.remote.username>
        <cargo.remote.password>deployer</cargo.remote.password>
      </configuration>
    </server>
  </servers>
</settings>
