<settings>
  <servers>
    <server>
      <id>tomcat-server</id>
      <configuration>
        <cargo.remote.uri>http://20.198.114.1:8081/manager/text</cargo.remote.uri>
        <cargo.remote.username>deployer</cargo.remote.username>
        <cargo.remote.password>deployer</cargo.remote.password>
      </configuration>
    </server>
  </servers>
</settings>
